
.last-updated {
  display: flex;
  font-size: 13px;
  line-height: 24px;
}

.ui.secondary.menu {
  margin-top: 4px;
  margin-bottom: 0;
}

.ui.secondary.menu .item {
  padding-left: 0;
}

.note-item {
  padding-left: 0;
}

.ui.secondary.pointing.menu .item {
  padding-left: 0;
}

.ui.secondary.pointing.menu {
  padding: 0;
}
