.dashboard-container {
   margin-left: 17rem;
   padding-left: 17.9375rem;
   padding-right: 17.9375rem;
   padding-top: 5rem;
 }

.dashboard-header {
  font-size: 30px;
  font-weight: 500;
}

.dashboard-image {
  padding-left: 12rem;
}
