.dashboard-container {
  margin-left: 17rem;
  padding: 4rem 17.9375rem;
}

.dashboard-header {
  font-size: 30px;
  font-weight: 500;
}

.dashboard-image {
  padding-left: 12rem;
}

img.ui.image {
  display: block;
  height: 35rem;
}