.ui.secondary.menu {
  margin-top: 4px;
}

.ui.secondary.menu .item {
  font-size: 17px;
  letter-spacing: .03em;
}

.note-list-container {
  margin-left: 21rem;
  margin-right: 4rem;
}

.ui.button {
  background: none;
}
