.note-menu {
  padding-top: 14px;
  padding-right: 20px;
}

.note-title {
  color: #333;
  outline: none;
  width: 100%;
}

.ui.form input[type=text] {
  color: #333;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  border: none;

}

.ui.form textarea {
  padding-top: 0.785714em;
  padding-left: 2em;
  padding-right: 2em;
  border: none;
  font-size: 16px;
}

.note-description {
  height: 50rem;
}

.ui.secondary.menu .item {
  padding-bottom: 0;
}

.ui.secondary.menu .item {
  padding-top: 0;
}
