
h2.ui.header {
  color: #333;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  padding-left: 1em;
  padding-right: 1em;
}

.note-description {
  height: 50rem;
  padding-top: 0.785714em;
  padding-left: 2em;
  padding-right: 2em;
  border: none;
  font-size: 16px;
}
